<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Advanced Calculation</title>
</head>
<body>
    <div class="container">
        <h1>Advanced Calculation</h1>
        <form method="post" th:action="@{/advanced-calculate}">
            <div class="form-group">
                <label for="expression">Enter Expression</label>
                <input class="form-input" type="text" id="expression" name="expression" required>
            </div>
            
            <button class="form-submit" type="submit">Evaluate</button>
            <button type="button" class="login-btn" th:onclick="|window.location.href='/audit-log'|" >Audit</button>

        </form>
        
        <div class="result" th:if="${result != null}">
            <h2>Result:</h2>
            <p th:text="${result}"></p>
        </div>
    </div>
</body>
</html>
